<div class="foot">
  <div class="cr">
    Copyright © 2023 後手必殺ファジィ集合 Y.S. & R.K. All Rights Reserved.
  </div>
  <ul class="links">
    <!-- <p class="control">
    <a class="button is-warning" href="#">
      <span class="icon">
        <i class="fas fa-download"></i>
        </span> -->
        <!-- <span>ダウンロード</span>
      </a>
    </p> -->
    <li class="linkItem">
      <a href="https://twitter.com/gotehissatsu" target="_blank" rel="noopener">
        <img class="iconImg" src="src/image/contacts/x_logo-white.png">
      </a>
    </li>
    <li class="linkItem">
      <a href="https://twitter.com/gotehissatsu" target="_blank" rel="noopener">
        <img class="iconImg" src="src/image/contacts/instaglam.png">
      </a>
    </li>
    <li class="linkItem">
      <a href="https://www.youtube.com/@user-fl6mw7to5j" target="_blank" rel="noopener">
        <img class="iconImg" src="src/image/contacts/youtube.png">
      </a>
    </li>
  </ul>
</div>
<style>
  .links {
    margin-left: auto;
    display: flex;
    margin: 10px;
  }
  .linkItem {
    margin: 5px;
  }
  .iconImg {
    width: 30px;
    height: 30px;
  }
  .cr {
    color: #ccc;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
  }
  .foot {
    background-color: #000;
    display: flex;
    height: auto;
  }
</style>