<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="top navigation">
  <a href="/" class="navbar-item">
    <img class="image" src="../assets/fazy_logoo.png" alt="ロゴ">
    <div class="navbar-item is-hoverable">
      <div>後手必殺ファジイ集合</div>
    </div>
  </a>
  <!-- 以下右詰項目 -->
  <div class="navbar-end">
    <div class="navbar-item is-hoverable">
      <a class="headTop">
        <div>当団体について</div>
      </a>
      <div class="navbar-dropdown is-boxed">
        <a class="navbar-item">
          <router-link class="headItem" to="/whatfazy">後手必殺ファジイ集合とは?</router-link>
        </a>
        <a class="navbar-item" href="#">
          <router-link class="headItem" to="/member">メンバー</router-link>
        </a>
      </div>
    </div>
    <div class="navbar-item is-hoverable">
      <a class="headTop">
        <div>作品</div>
      </a>
      <div class="navbar-dropdown is-boxed">
        <a class="navbar-item">
          <router-link class="headItem" to="/before">演劇</router-link>
        </a>
        <a class="navbar-item">
          <router-link class="headItem" to="/rinjin">『隣人はマジシャン』</router-link>
        </a>
        <a class="navbar-item">
          <router-link class="headItem" to="/stamp">LINEスタンプ</router-link>
        </a>
        <a class="navbar-item">
          <router-link class="headItem" to="/novels">Twitter小説</router-link>
        </a>
        <a class="navbar-item" href="#">
          <router-link class="headItem" to="/goods">グッズ</router-link>
        </a>
      </div>
    </div>
    <div class="navbar-item is-hoverable">
      <a class="headTop">
        <div>演劇公演</div>
      </a>
      <div class="navbar-dropdown is-boxed">
        <a class="navbar-item">
          <router-link class="headItem" to="/next">次回公演</router-link>
        </a>
        <a class="navbar-item">
          <router-link class="headItem" to="/next">過去公演</router-link>
        </a>
      </div>
    </div>
  </div>
  <a href="#" class="navbar-item">
    <router-link class="headItem" to="/contact">コンタクト</router-link>
  </a>
  <a href="/" class="navbar-item">
    <img class="image" src="../assets/fazy_logo.png">
  </a>
</nav>