title_logo_and_name{
    display: flex;
}

name_Fazy{
    vertical-align: top;
    color: aliceblue;
}

logo_top{
    vertical-align: top;
}

image {
    width: max-content;
    height: max-content;
    margin-left: 10px;
}

.content {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 5px;
}

.postSource {
    align-self: flex-end;
}

.links {
    margin-left: auto;
    display: flex;
    margin: 10px;
}
.linkItem {
    margin: 5px;
}
.iconImg {
    width: 30px;
    height: 30px;
}
.cr {
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 10px;
}
.menuItem {
    display: inline-block;
    margin-right: 12px;
}