<header>
  <h1 id="logo">
    <a href="index.html"
      ><img
        style="height: 32px"
        src="images/fuzzy_logo.png"
        alt="後手必殺ファジィ集合"
    /></a>
  </h1>
  <nav id="menubar">
    <ul>
      <li data-page="about-us">
        <a href="about-us.html">about us</a>
      </li>
      <li data-page="next-drama"><a href="works/next-drama.html">次回公演</a></li>
      <li data-page="works"><a href="works.html">ファジィの活動</a></li>
      <li data-page="member"><a href="member.html">メンバー</a></li>
      <li data-page="news"><a href="news.html">お知らせ</a></li>
      <li data-page="contact"><a href="contact.html">お問い合わせ</a></li>
    </ul>
  </nav>
  <ul class="icon">
    <li>
      <a href="https://x.com/gotehissatsu" target="_blank"
        ><img src="images/icon/icon_x.png" alt="X"
      /></a>
    </li>
    <li>
      <a href="https://note.com/clean_lion585" target="_blank"
        ><img src="images/icon/icon_note.png" alt="note"
      /></a>
    </li>
    <li>
      <a href="#"
        ><img src="images/icon/icon_instagram.png" alt="Instagram"
      /></a>
    </li>
    <li>
      <a
        href="https://www.youtube.com/@%E5%BE%8C%E6%89%8B%E5%BF%85%E6%AE%BA%E3%83%95%E3%82%A1%E3%82%B8%E3%82%A3%E9%9B%86%E5%90%88"
        target="_blank"
      >
        <img src="images/icon/icon_youtube.png" alt="YouTube" />
      </a>
    </li>
  </ul>
</header>

<nav id="menubar-s">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li data-page="about-us">
      <a href="about-us.html">about us</a>
    </li>
    <li data-page="next-drama"><a href="works/next-drama.html">次回公演</a></li>
    <li data-page="works"><a href="works.html">ファジィの活動</a></li>
    <li data-page="member"><a href="member.html">メンバー</a></li>
    <li data-page="news"><a href="news.html">お知らせ</a></li>
    <li data-page="contact"><a href="contact.html">お問い合わせ</a></li>
  </ul>
</nav>
